.wrapper {
  width: 100%;
  height: 10000px;
}

.header {
  padding: 40px 0 70px;
  background: linear-gradient(90deg, rgba(203,17,171,1) 0%, rgba(73,17,116,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.repositoriesBlock {
  display: block;
  border-radius: 15px;
  margin-top: -30px;
  background-color: white;
  min-height: 200px;
}